<!DOCTYPE html>
<html lang="en"> <!-- Can replace with your own locale -->
<head>
  <!-- Compatability -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title and Description -->
  <title>CLI Authentication</title>
  <meta name="description" content="Authenticate with your command-line app.">
  <meta name="author" content="python660">

  <!-- Social media -->
  <meta property="og:title" content="CLI Authentication">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://replit.com/@python660">
  <meta property="og:description" content="Authenticate with your command-line app.">
  <!--meta property="og:image" content="preview.png"-->

  <!-- Preconnect to certain useful domains as needed -->
  <!--link rel="preconnect" href="https://cdnjs.cloudflare.com"-->

  <!-- Favicons and icons -->
  <!--link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"-->

  <!-- Link your CSS up here -->
  <link rel="stylesheet" href="loader.css">
</head>
<body>
  <div id="mainContent">
    <!-- Website Content -->
    <h1>Authentication failed</h1>
    <p>Your login session may have expired. Please try again.</p>
  </div>
  

  <!-- Javascript -->
  <script>window.onunload = function(){};</script>
</body>
</html>